@layer reset, typography, layout, components;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--graphite-black);
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}